body {
    text-align: center;
}

h2 {
    font-size: 1rem;
    color: rgb(17, 92, 67);
}

.btn-container {
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.btn {
    height: 10rem;
    width: 10rem;
    border: 0.5rem solid black;
    border-radius: 2rem;
}

.red {
    background-color: #d55075;
}


.green {
    background-color: #58a0b9;
}

.yellow {
    background-color: #fa903b;
}

.purple {
    background-color: #7794f8;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: aquamarine;
}


.restart {
    margin-top: 1.5rem;
    padding: 0.5rem 1em;
    border-radius: 0.5rem;
    background-color: #12757996;
    font-size: 1.2rem;
}